<h1>Search Results for "<%= @search %>"</h1>

<% if @product_results %>
	<ul>
		<% @product_results.each do |product| %>
			<li>
				<a href="/categories/<%= product.category_id %>/products/<%= product.id %>"><%= product.title %></a>
			</li>
		<% end %>
	</ul>
<% end %>
