<form id='user-account-button' action="<%= "/account/#{current_user.id}" %>" method='get'>
  <input class='user-account-button' type="submit" value="<%= "#{current_user.first_name.capitalize}" %>'s Account">
</form>
