<div class="categories">
  <h1>Categories</h1>

	<table>
	  <% @categories.each do |category| %>
			<tr>
  			<td id="category-rows">
			  	 <a id="category-links" href="<%= "/categories/#{category.id}" %>"><%= category.name %></a>
		  	</td>
	  	</tr>
	  <% end %>
	</table>

  <%= erb :'/search/_search_button' %>
  
</div>
