<form id="delete-product-button" action="/categories/<%= category.id %>/products/<%= product.id %>" method='post'>
  <input type="hidden" name="_method" value="delete">
  <input type="submit" value="Delete Product">
</form>

